In [1]:
2+2

4

In [167]:
x=10
y=3
name='deepika'

In [168]:
x-y

7

In [169]:
x*y

30

In [170]:
x%y

1

In [171]:
x/y

3.3333333333333335

In [172]:
x<y

False

In [173]:
x>y

True

In [174]:
x//y

3

In [175]:
x**y

1000

operator
- arthimetic
- assignment
- comparison
- logical
- membership
- identity

In [176]:
x=20 # assign 20 to x
x += 5 # add 5 to x

In [177]:
#comparison operatrion 
print (x>y)
print(x<y)
print  (x>=y)
print (x<=y)

TypeError: 'tuple' object is not callable

In [ ]:
# and, or,not
x < y or y <10

True

In [ ]:
not x > y

False

In [ ]:
fruits =['apple','cherry','banana']
print ('apple'in fruits)
print ('banana' in fruits)
print('pomegranate'in fruits)

True
True
False

In [ ]:
f=['apple','banana','cherry']

In [ ]:
fruits == f

False

In [ ]:
x=10
y=10
print (x==y)
print (x is y)

True
True

In [ ]:
name = input("enter your name:")

In [ ]:
city = input ("enter your city")
age = input ("ennter your age")
print =(name,city,age)

In [ ]:
x= 10
print (type(x))
# cconvert x float
x=float (x)
print (x, type (x))
#convert x to string
 x = str(x)
 print (x, type (x))
 #convert tto boolean
 x=bool(x)
 print(x,type(x))
 x=str(x)
 print(x,,type(x))
 print(x,type(x))

IndentationError: unexpected indent (3772447434.py, line 7)

In [ ]:
x= int  (input('ennter a number for A:'))
y=int (input('enter a nnummber B'))
Print (x+y)

In [ ]:
print ('Name:','name','Age','age','City','city')

In [ ]:
print('Name:', name)
print('Age:', age)
print ('City:', city)

In [ ]:
print (name,age,city,sep =',')

In [ ]:
print (x , end =' ')
print(y)

In [ ]:
f='I Live in {city}'

In [2]:
print (f'x={x},y={y})

SyntaxError: unterminated string literal (detected at line 1) (2802105794.py, line 1)