In [1]:
2+2

4

In [2]:
x=10
y=3
name='deepika'

In [3]:
x-y

7

In [4]:
x*y

30

In [5]:
x%y

1

In [6]:
x/y

3.3333333333333335

In [7]:
x<y

False

In [8]:
x>y

True

In [9]:
x//y

3

In [10]:
x**y

1000

operator
- arthimetic
- assignment
- comparison
- logical
- membership
- identity

In [11]:
x=20 # assign 20 to x
x += 5 # add 5 to x

In [12]:
#comparison operatrion 
print (x>y)
print(x<y)
print  (x>=y)
print (x<=y)

True
False
True
False

In [13]:
# and, or,not
x < y or y <10

True

In [14]:
not x > y

False

In [15]:
fruits =['apple','cherry','banana']
print ('apple'in fruits)
print ('banana' in fruits)
print('pomegranate'in fruits)

True
True
False

In [16]:
f=['apple','banana','cherry']

In [17]:
fruits == f

False

In [18]:
x=10
y=10
print (x==y)
print (x is y)

True
True

In [24]:
name = input("enter your name:")

In [20]:
city = input ("enter your city")
age = input ("ennter your age")
print =(name,city,age)

In [23]:
x= 10
print (type(x))
# cconvert x float
x=float (x)
print (x, type (x))
#convert x to string
x = str(x)
print (x, type (x))
#convert x to boolean
x=bool(x)
print(x,type(x))
x=str(x)
print(x,type(x))
print(x,type(x))

TypeError: 'tuple' object is not callable

In [ ]:
x= int  (input('ennter a number for A:'))
y=int (input('enter a nnummber B'))
Print (x+y)

In [22]:
print ('Name:','name','Age','age','City','city')

TypeError: 'tuple' object is not callable

In [ ]:
print('Name:', name)
print('Age:', age)
print ('City:', city)

In [ ]:
print (name,age,city,sep =',')

In [ ]:
print (x , end =' ')
print(y)

In [ ]:
f='I Live in {city}'

In [ ]:
print (f'x={x},y={y})

SyntaxError: unterminated string literal (detected at line 1) (2802105794.py, line 1)