In [3]:
def pythagoras(base,perpendicular):
    return(base**2+ perpendicular**2)**0.5

In [3]:
pythagoras(3,4)

5.0

In [7]:
pythagoras(perpendicular=5,base=6)

7.810249675906654

lambda expressions - for making anonymous functions (1 line functions)

In [9]:
f = lambda x: x**2 +2*x+1
print(f(2))
print(f(3))
print(f(10))
 
print(f(15))

9
16
121
256

In [13]:
g = lambda x,y:x**2 + 2*x*y+y**2
print(g(2,3))
print(g(3,4))

25
49

In [14]:
# what is the ammount after 16 % discount of 12000

12000 *(1-.16)

10080.0

In [23]:
prices = [ 10000, 30000, 12999, 50000, 43999, 10500]

for price in prices:
    print(price * (1-.16))

8400.0
25200.0
10919.16
42000.0
36959.159999999996
8820.0

In [30]:
prices = [ 10000, 30000, 12999, 50000, 43999, 10500]
dis_prices = [] 
for price in prices:
    ans = price * (1-.16)
    dis_prices.append(ans)
     
print(prices)
print(dis_prices)

[10000, 30000, 12999, 50000, 43999, 10500]
[8400.0, 25200.0, 10919.16, 42000.0, 36959.159999999996, 8820.0]

In [55]:

dis_price = list(map(lambda p:p*(1-.16),prices))
print(dis_price)

[8400.0, 25200.0, 10919.16, 42000.0, 36959.159999999996, 8820.0]

In [56]:
print(list(map(lambda x:x**2,x)))

[1, 4, 16, 36, 9, 49, 25, 64, 441]

In [2]:
area=lambda b,h: 0.5*b*h
print(area(3,4))

6.0

In [26]:
def total(data):
    result = 0
    for i in data:
     result += i
    return result

In [27]:
total([2,3,3,1,2,3,4,5,6,7,8,9,10])

63