In [22]:
movies = ['shrek','kungfu panda','how to train your dragon','ice age',
          'the lion king','the little marmaid','the junghle book','alaadin',
          'the little prince']

In [23]:
print(f'total movies={len (movies)}')

total movies=9

In [24]:
for movie in movies:
    print (movie)

shrek
kungfu panda
how to train your dragon
ice age
the lion king
the little marmaid
the junghle book
alaadin
the little prince

In [26]:
for movie in movies:
    print (movie, len(movie))

shrek 5
kungfu panda 12
how to train your dragon 24
ice age 7
the lion king 13
the little marmaid 18
the junghle book 16
alaadin 7
the little prince 17

In [28]:
for movie in movies:
    print (f'{movie:40} {len(movie)}')

shrek                                    5
kungfu panda                             12
how to train your dragon                 24
ice age                                  7
the lion king                            13
the little marmaid                       18
the junghle book                         16
alaadin                                  7
the little prince                        17

In [29]:
nums= [32,56,23,56,12,12,67,56,7,2]
for i in nums:
    print(i,i**2)

32 1024
56 3136
23 529
56 3136
12 144
12 144
67 4489
56 3136
7 49
2 4

In [31]:

for i in nums:
    if i%2  == 0:
        print(i,i**2)

32 1024
56 3136
56 3136
12 144
12 144
56 3136
2 4

In [32]:

for i in nums:
    if i%2  != 0:
        print(i,i**2)

23 529
67 4489
7 49

In [33]:
sum(nums)

323

In [43]:
total_evens=0
for i in nums:
    if i % 2 ==0:
        total_evens += i
print(total_evens)

226

In [46]:
for i in nums:
    print(i)
    if i>50:
        break

32
56

In [49]:
x = ['apple','potato','banana','','orange','mango']
for item in x:
    print(item)

apple
potato
banana

orange
mango

In [50]:
x = ['apple','potato','banana','','orange','mango']
for item in x:
    if len (item)==0:
        break
    print(item)

apple
potato
banana

In [58]:
errors = 0
while True:
    username = input('enter username:')
    password = input('enter password:')
    if username =='admin'and password =='secret':
        print('login successful')
        break
    elif  errors == 3:
        print('too many errors')
        break
    else:
        print('invalid username/password')
        errors += 1

login successful